<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="date.jalaunup">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:background="@color/colorAccent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DATEJalaunUP"
        android:usesCleartextTraffic="true">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".discActivity"
            android:label="DISCLAIMER" />
        <activity
            android:name=".loginaActivity"
            android:label="ADMIN LOGIN" />
        <activity
            android:name=".loginwActivity"
            android:label="WORKER LOGIN" />
        <activity
            android:name=".logineActivity"
            android:label="EMPLOYER LOGIN" />
        <activity
            android:name=".registrationwActivity"
            android:label="WORKER REGISTRATION" />
        <activity
            android:name=".registrationeActivity"
            android:label="EMPLOYER REGISTRATION" />
        <activity
            android:name=".WelcomewActivity"
            android:label="WORKER&apos;S HOME SCREEN" />
        <activity
            android:name=".worker_profileActivity"
            android:label="WORKER&apos;S PROFILE UPDATE" />
        <activity
            android:name=".worker_changePActivity"
            android:label="WORKER&apos;S CHANGE PASSWORD" />
        <activity
            android:name=".admin_changePActivity"
            android:label="ADMIN CHANGE PASSWORD" />
        <activity
            android:name=".WelcomeeActivity"
            android:label="EMPLOYER&apos;S HOME SCREEN" />
        <activity
            android:name=".WelcomeaActivity"
            android:label="ADMIN HOME SCREEN" />
        <activity
            android:name=".employer_changePActivity"
            android:label="EMPLOYER&apos;S CHANGE PASSWORD" />
        <activity
            android:name=".employer_saveworkActivity"
            android:label="EMPLOYER&apos;S SAVE PROJECT WORK" />
        <activity
            android:name=".ViewRegisteredWorkerDetailActivity"
            android:label="ADMIN WORKER ACTIVATION"/>
        <activity
            android:name=".RegisteredWorkerActivity"
            android:label="ADMIN WORKER ACTIVATION"/>
        <activity
            android:name=".ViewRegisteredEmployerDetailActivity"
            android:label="ADMIN EMPLOYER ACTIVATION"/>
        <activity
            android:name=".RegisteredEmployerActivity"
            android:label="ADMIN EMPLOYER ACTIVATION"/>
        <activity
            android:name=".admin_resetWPActivity"
            android:label="ADMIN WORKER RESET"/>
        <activity
            android:name=".admin_resetEPActivity"
            android:label="ADMIN EMPLOYER RESET"/>
        <activity
            android:name=".EmployerRegisteredWorkActivity"
            android:label="EMPLOYER REGISTERED WORK ACTIVATION"/>
        <activity
        android:name=".employer_updateworkActivity"
        android:label="EMPLOYER UPDATE WORK ACTIVATION"/>
        <activity
            android:name=".EmployerWorkManActivity"
            android:label="EMPLOYER MANPOWER WORK ACTIVATION"/>
        <activity
            android:name=".employer_updateworkmanActivity"
            android:label="EMPLOYER MANPOWER REQUIREMENTS"/>
        <activity
            android:name=".EmploymentWorkerActivity"
            android:label="WORKER&apos;S EMPLOYMENT"/>
        <activity
            android:name=".ViewWorkerEmploymentDetailActivity"
            android:label="EMPLOYER&apos;S EMPLOYMENT DETAIL"/>
        <activity
            android:name=".EmployerSearchManActivity"
            android:label="EMPLOYER&apos;S SAVE PROJECT LIST" />
        <activity
            android:name=".EmployerSearchManBycatActivity"
            android:label="WORKER LIST BY PROJECT FIELD"/>
        <activity
            android:name=".ViewWorkerDetailByempActivity"
            android:label="WORKER&apos;S FULL DETAIL"/>
        <activity
            android:name=".AdminSearchEmployerWorkActivity"
            android:label="EMPLOYER&apos;S SAVE WORK LIST"/>
        <activity
            android:name=".ViewRegisteredEmployerWorkDetailActivity"
            android:label="EMPLOYER&apos;S SAVE WORK DETAIL"/>
        <activity
            android:name=".ViewFullImage"/>
        <activity
            android:name=".ImageListView"/>
    </application>

</manifest>